h1 {
	color: orange;
	font-size: 50px;
}
h2 {
	color: blue;
	font-size: 40px;
}
p {
	color: blue;
	font-size: 35px;
}
h3 {
	color: green;
	font-size: 50px;
}
h4 {
	color: red;
	font-size: 45px
}
h5 {
	color: green;
	font-size: 40px;
}
h6 {
	color: red;
	font-size: 35px;
}
h7 {
	color: green;
	font-size: 30px;
}
#image {width,33%;
	float:left;
	
}
#gallery{
	clear:both;
}